# .gitignore

PokemonCatalogue
CMakeLists.txt.user
build/CMakeCache.txt
build/CMakeFiles
CMakeScripts
Testing
build/Makefile
build/cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

# Ignore IDE-specific files
.vscode/
.idea/
*.suo
*.user

# Ignore dependency directories
lib/

# Ignore system and hidden files
.DS_Store
Thumbs.db
