# .gitignore

# Ignore build artifacts and CMake configuration
PokemonCatalogue
build/*
build.ninja
cmake-build-debug/
CMakeCache.txt

# Ignore IDE-specific files
.vscode/
.idea/
*.suo
*.user

# Ignore dependency directories
lib/

# Ignore temporary files
Testing/Temporary/LastTest.log

# Ignore system and hidden files
.DS_Store
Thumbs.db
