# .gitignore

PokemonCatalogue
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
build/*
# Ignore IDE-specific files
.vscode/
.idea/
*.suo
*.user

# Ignore dependency directories
lib/

# Ignore system and hidden files
.DS_Store
Thumbs.db
